/* Style the body */
body {
    display: flex;
    flex-direction: column;
    font-family: Arial;
    margin: 0;
    font-family: Helvetica;
    background: #eee;
    -webkit-font-smoothing: antialiased;
}


* {
    box-sizing: border-box;
  }

  hgroup {
    text-align: center;
    margin-top: 4em;
  }

  h1,
  h3 {
    font-weight: 300;
  }

  table, th, td {
  text-align: left;
}


/* Header/logo Title */
header {
    height:250px;
    text-align: center;
    background: #345f97;
    color: white;
}

/* Style the top navigation bar */
nav {
    background-color: #4a89dc;
    padding: 12px;
}


/* Style the navigation bar links */
nav a {
    color: lightgray;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    float:left;
}

/* Change color on hover */
nav a:hover {
    background-color: #345f97;
    color: white;
}

nav .active-nav{
    background-color: #345f97;
    color: white;
}

nav .nav-lang{
    float:right;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 3;
}

aside {
  overflow-y: hidden;
  flex: 20%;
  background-color: lightgrey;
  padding: 0px;
  width:90%;
}

section {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.chees {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.product{
  width: 200px;
  height: 450px;
  padding: 20px;
  text-align: center;
  font-size: 18px;
}
img {
  width: 100%;
  padding: 20px;
}

.product img{
    max-width: 200px;
    height: 200px;
}

.contact {
  display: flex;
  flex-direction: row;
}

.contact_left {
  padding: 10px;
  flex: 1;
  background-color: lightgrey;

}
.contact_right {
  flex: 1;
  background-color: #345f97;
}

textarea {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  background: #fafafa;
  color: #636363;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #4CAF50;
  height:120px;
  max-width:100%;
  resize:none;
}


/* Footer */
footer {
    /*position: fixed;*/
    box-sizing: border-box;
    bottom:0px;
    width:100%;
    padding: 6px;
    text-align: center;
    background-color: #345f97;
    color: #ffffff;
}


/* Bordered form */
header form {
    display:flex;
    float:right;
}


/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 40%;
    }
}

#title{
    overflow: auto;
    display:block;
    padding: 30px 10px 10px 10px;
    height: auto;
    color: white;
    text-decoration: none;
    font-size: 60px;
    text-align: center;
    margin: 0 auto;

}

#logout {
    text-align:center;
    margin:0 auto;
}

#logout button {
    width:50%;

}

form {
    width: 380px;
    margin: 4em auto;
    padding: 3em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
  }



  .form-group {
    position: relative;
    margin-bottom: 45px;
  }

  input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: #fafafa;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #4CAF50;
  }

  input:focus {
    outline: none;
  }


  /* Label */

  label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: all 0.2s ease;
  }


  /* active */

  .stylee {
    top: -20px;
    transform: scale(.75);
    left: -2px;
    /* font-size: 14px; */
    color: #4caf50;
  }


  /* Underline */

  .bar {
    position: relative;
    display: block;
    width: 100%;
  }

  .bar:before,
  .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #4caf50;
    transition: all 0.2s ease;
  }

  .bar:before {
    left: 50%;
  }

  .bar:after {
    right: 50%;
  }


  /* active */

  input:focus ~ .bar:before,
  input:focus ~ .bar:after {
    width: 50%;
  }


  /* Highlight */

  .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    opacity: 0.5;
  }


  /* active */

  input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
  }


  /* Animations */

  @keyframes inputHighlighter {
    from {
      background: #4a89dc;
    }
    to {
      width: 0;
      background: transparent;
    }
  }


  /* BUTTON STYLE FROM stackoverflow.com */
  /* Button */

  .button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    margin: .3em 0 1em 0;
    width: 100%;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #3160B6;
    cursor: pointer;
    transition: all 0.15s ease;
  }

  .button:focus {
    outline: 0;
  }


  /* Button modifiers */

  .buttonRound{
    border-radius: 50%;
    width:auto;
    line-height:20px;
    box-sizing: inline-box;
  }

  .buttonBlue {
    background: #4a89dc;
    text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
  }

  .buttonBlue:hover {
    background: #357bd8;
  }


  .wrapper {
    width:100%;
    display: flex;
    flex-wrap: wrap;
  }
.lineitem{
    flex: 0 0 25%;
}

  .left {
    margin-right:5px;
    flex: 0 0 50%;
  }
  .right {
    margin-left:5px;
    flex: 1;
  }

  .form-group.left {
    margin-right:5px;
    flex: 0 0 65%;
}

.form-group.right {
    margin-left: 5px;
    flex: 1;
}

  #signup {
      width:40%;
      text-align: center;
  }

  #signup button {
      width: 40%;
      bottom: 0px;
      margin: 0 auto;
  }

  label.required:after { content:" *"; }

  .centered {
      padding-top: 30px;
      margin: 0 auto;
      text-align: center;
  }

  .order-details{
    height:125;
    position: relative;
    margin: 10px auto;
    line-height: 25px;
  }

  /* ------------------------------------
  ---------------------------------------
  Select style from codepen.io
  --------------------------------------
  ------------------------------------*/


  /* select starting stylings ------------------------------*/
.select {
  font-family:
    'Roboto','Helvetica','Arial',sans-serif;
	position: relative;
	width: 100%;
}

.select-text {
	position: relative;
	font-family: inherit;
	background-color: transparent;
	width: 100%;
	padding: 10px 10px 10px 0;
	font-size: 18px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgba(0,0,0, 0.12);
}

/* Remove focus */
.select-text:focus {
	outline: none;
	border-bottom: 1px solid rgba(0,0,0, 0);
}

	/* Use custom arrow */
.select .select-text {
	appearance: none;
	-webkit-appearance:none
}

.select:after {
	position: absolute;
	top: 18px;
	right: 10px;
	/* Styling the down arrow */
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.12);
	pointer-events: none;
}


/* LABEL ======================================= */
.select-label {
	color: rgba(0,0,0, 0.26);
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 10px;
	transition: 0.2s ease all;
}

/* active state */
.select-text:focus ~ .select-label, .select-text:valid ~ .select-label {
	color: #2F80ED;
	top: -20px;
	transition: 0.2s ease all;
	font-size: 14px;
}

/* BOTTOM BARS ================================= */
.select-bar {
	position: relative;
	display: block;
	width: 350px;
}

.select-bar:before, .select-bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #2F80ED;
	transition: 0.2s ease all;
}

.select-bar:before {
	left: 50%;
}

.select-bar:after {
	right: 50%;
}

/* active state */
.select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after {
	width: 50%;
}

/* HIGHLIGHTER ================================== */
.select-highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


.product-details{
  position:relative;
  width: 100%;
  margin: 0 auto;
}
.product-details .button{
  color: #fff;
width:auto;
}


/*-------------------------------------------
------ CHECKBOX STYLE from codepen.io -------
-------------------------------------------*/

input[type=checkbox]{
  -webkit-appearance: checkbox;
}

#checkout {
  width:auto;
}

.checkbox-label {
  z-index: 0;
  position: relative;
  display: inline-block;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 16px;
  line-height: 1.5;
}

/* Input */
.checkbox-label > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
  pointer-events: none;
  left: -10px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  box-shadow: none;
  outline: none;
  opacity: 0;
  transform: scale(1);
  transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.checkbox-label > span {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

/* Box */
.checkbox-label > span::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  margin: 3px 11px 3px 1px;
  border: solid 2px; /* Safari */
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  border-radius: 2px;
  width: 18px;
  height: 18px;
  vertical-align: top;
  transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.checkbox-label > span::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 1px;
  width: 10px;
  height: 5px;
  border: solid 2px transparent;
  border-right: none;
  border-top: none;
  transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.checkbox-label > input:checked,
.checkbox-label > input:indeterminate {
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.checkbox-label > input:checked + span::before,
.checkbox-label > input:indeterminate + span::before {
  border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.checkbox-label > input:checked + span::after,
.checkbox-label > input:indeterminate + span::after {
  border-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
}

.checkbox-label > input:indeterminate + span::after {
  border-left: none;
  transform: translate(4px, 3px);
}

/* Hover, Focus */
.checkbox-label:hover > input {
  opacity: 0.04;
}

.checkbox-label > input:focus {
  opacity: 0.12;
}

.checkbox-label:hover > input:focus {
  opacity: 0.16;
}

/* Active */
.checkbox-label > input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
}

.checkbox-label > input:active + span::before {
  border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.checkbox-label > input:checked:active + span::before {
  border-color: transparent;
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
}

/* Disabled */
.checkbox-label > input:disabled {
  opacity: 0;
}

.checkbox-label > input:disabled + span {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  cursor: initial;
}

.checkbox-label > input:disabled + span::before {
  border-color: currentColor;
}

.checkbox-label > input:checked:disabled + span::before,
.checkbox-label > input:indeterminate:disabled + span::before {
  border-color: transparent;
  background-color: currentColor;
}

.giftwrap{
  top:20px;
  position:relative;
}

.checkoutButton{
  position: relative;
  top:210px;
  width:150px;
  text-align: center;
  margin: 0 auto;
  left:20%;
}

.wrapper.checkout{
  margin: 30px auto;
}
